.max-w-300px {
  max-width: 300px;
}

.max-w-500px {
  max-width: 500px;
}

.min-w-400px {
  min-width: 400px;
}

.w-170px {
  width: 170px;
}

.fnt-12px {
  font-size: 12px;
}

.fnt-13px {
  font-size: 13px;
}

.fnt-14px {
  font-size: 14px;
}

.fnt-gray {
  color: #717171;
}

.playlist {
  @extend .min-w-400px;
  @extend .border-left-1;
  height: calc(100vh - 70px);
  background-color: bisque;
}

.pointer {
  cursor: pointer;
}

.fa-red {
  color: red !important;
}

.icon-center {
  @extend .pointer;
  position: absolute;
  transform: translate(-50%, -100%);
  left: 50%;
  top: 50%;
  opacity: 0;
}

.opacity-1 {
  transition-duration: 0.8s;
  opacity: 1;
}

.border-left-1 {
  border-left: solid 1px #717171;
}